<!--<nav>
    <a ui-sref="dashboard.express-overhead">Express Overhead</a>
    <a ui-sref="dashboard.history({someData: 'Guest'})">History</a>
</nav>-->
<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="history" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="dashboard.express-overhead" name="express-overhead">Page One</md-nav-item>
        <md-nav-item md-nav-sref="dashboard.history" name="history">Page Two</md-nav-item>
        <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
        <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
        <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
        -->
    </md-nav-bar>
    <div class="ext-content">
        <h1>{{history}}</h1>
        <ui-view></ui-view>
    </div>
</md-content>
