<div class="container" layout="column" layout-padding>
    <div class="container-login">
        <md-content class="md-padding rounded" style="background: #aa0000;color: #fff;text-decoration: none;">
            <h1 class="text-center">{{appname}}</h1>
            <div style="text-align: center">
                <md-button ui-sref="login" class="md-raised md-success" aria-label="Login">
                        <i class="material-icons" style="color: #b30002">account_box</i>
                        Увійти
                </md-button>
                <md-button ui-sref="registration" class="md-raised md-primary" aria-label="Registration">
                        <i class="material-icons" style="color: #b30002">assignment</i>
                        Зареєструватись
                </md-button>
            </div>
        </md-content>
    </div>
</div>